Repository IBM/ibm-spectrum-scale-csi, pull requests merged in 2020-04, with the labels that each got.

#155 Adding git commit label to image labels
  .travis.yml
  driver/build/Dockerfile
  operator/build/Dockerfile
Labels: Component: Container Image, Phase: Test, Severity: 3, Target: Driver, Target: Operator, Type: Enhancement

#113 Removing groups from SCC
  operator/roles/csi-scale/tasks/main.yml
  operator/roles/csi-scale/templates/scc.yaml.j2
Labels: Component: Controller, Component: Templates, Phase: Field, Severity: 2, Target: Driver, Target: Operator, Type: Bug, Type: Enhancement

#161 driver parameter validation error message improvement
  driver/csiplugin/gpfs.go
Labels: Target: Driver

#162 Make primaryFset optional
  driver/csiplugin/gpfs.go
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.cr.yaml
Labels: Target: Driver

#164 Derive the RemoteFs internally
  driver/csiplugin/gpfs.go
  driver/csiplugin/settings/scale_config.go
  generated/installer/ibm-spectrum-scale-csi-operator-dev.yaml
  generated/installer/ibm-spectrum-scale-csi-operator.yaml
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.cr.yaml
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.crd.yaml
Labels: Target: Driver

#163 make clusterId optional in storageClass
  driver/csiplugin/controllerserver.go
  driver/csiplugin/gpfs_util.go
Labels: Target: Driver

#168 Handle multiple operator pod in snap
  tools/spectrum-scale-driver-snap.sh
Labels: Component: Automation, Phase: Test, Severity: 3, Target: Operator, Type: Enhancement
