Repository IBM/ibm-spectrum-scale-csi, pull requests merged in 2020-05, with the labels that each got.

#181 Fix for failure during remote pvc creation
  driver/csiplugin/controllerserver.go
  driver/csiplugin/gpfs_util.go
Labels: Target: Driver

#188 Remove secret debug from log.
  operator/roles/csi-scale/tasks/secret_watch.yml
Labels: Component: Roles, Severity: 1

#183 driver doesn't include correct license file, due to symlinking outside build context
  driver/licenses/apache-2.txt
Labels: Component: Certification, Component: Container Image, Severity: 2, Target: Driver, Type: Bug

#175 Adds an image pull secret function to the operator.
  generated/installer/ibm-spectrum-scale-csi-operator-dev.yaml
  generated/installer/ibm-spectrum-scale-csi-operator.yaml
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/crds/csiscaleoperators.csi.ibm.com_cr.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/2.0.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/2.0.0/ibm-spectrum-scale-csi-operator.v2.0.0.clusterserviceversion.yaml
  operator/roles/csi-scale/defaults/main.yml
  operator/roles/csi-scale/templates/csi-plugin-attacher.yaml.j2
  operator/roles/csi-scale/templates/csi-plugin-provisioner.yaml.j2
  operator/roles/csi-scale/templates/csi-plugin.yaml.j2
Labels: Component: API, Component: Templates, Phase: Development, Severity: 3, Target: Operator, Type: Enhancement

#198 Removes old SCC on upgrade
  operator/roles/csi-scale/tasks/clear_old_csi_access.yml
  operator/roles/csi-scale/tasks/main.yml
Labels: Component: Roles, Phase: Test, Severity: 2, Special Sev: Must Fix, Target: Operator, Type: Bug

#195 Modifying -dev generated yaml file to match spec requested in #176
  generated/installer/ibm-spectrum-scale-csi-operator-dev.yaml
  tools/ansible/generate/create_files.yaml
Labels: Component: Automation, Component: Bundling, Phase: Test, Severity: 3, Target: Operator, Type: Enhancement

#189 Create pull_request_template.md
  .github/pull_request_template.md
Labels: Component: Templates, Phase: Development, Severity: 4, Type: Documentation

#193 Fix for CR indentation
  operator/deploy/crds/csiscaleoperators.csi.ibm.com_cr.yaml
Labels: Phase: Test, Severity: 4, Target: Operator, Type: Documentation

#202 Generalizing snapshotting
  tools/spectrum-scale-driver-snap.sh
Labels: Phase: Test, Severity: 4, Target: Operator, Type: Enhancement
