Repository IBM/ibm-spectrum-scale-csi, pull requests merged in 2020-07, with the labels that each got.

#178 Snapshots
  SNAPSHOTS.md
  driver/csiplugin/connectors/connectors.go
  driver/csiplugin/connectors/resources.go
  driver/csiplugin/connectors/rest_v2.go
  driver/csiplugin/controllerserver.go
  driver/csiplugin/gpfs.go
  driver/csiplugin/gpfs_util.go
  driver/examples/snapshots/volsnap.yaml
  driver/examples/snapshots/volsnapclass.yaml
  generated/installer/ibm-spectrum-scale-csi-operator-dev.yaml
  generated/installer/ibm-spectrum-scale-csi-operator.yaml
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/manifests/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/manifests/ibm-spectrum-scale-csi-operator.clusterserviceversion.yaml
  operator/roles/csi-scale/defaults/main.yml
  operator/roles/csi-scale/tasks/main.yml
  operator/roles/csi-scale/templates/cluster-role-snapshotter.yaml.j2
  operator/roles/csi-scale/templates/crb-snapshotter.yaml.j2
  operator/roles/csi-scale/templates/csi-plugin-snapshotter.yaml.j2
  operator/roles/csi-scale/templates/sa-snapshotter.yaml.j2
Labels: Component: API, Phase: Development, Severity: 2, Target: Driver, Type: Enhancement

#241 CSI driver automation support for multifilesystem,multicluster & snapshots
  tests/functional-tests/.pylintrc
  tests/functional-tests/conftest.py
  tests/functional-tests/driver_test.py
  tests/functional-tests/operator_test.py
  tests/functional-tests/remote_snapshot_test.py
  tests/functional-tests/remote_test.py
  tests/functional-tests/requirements.txt
  tests/functional-tests/scale_operator.py
  tests/functional-tests/snapshot_test.py
  tests/functional-tests/utils/driver.py
  tests/functional-tests/utils/fileset_functions.py
  tests/functional-tests/utils/namegenerator.py
  tests/functional-tests/utils/scale_operator_function.py
  tests/functional-tests/utils/scale_operator_object_function.py
  tests/functional-tests/utils/snapshot.py
Labels: Component: Automation

#260 Upgrading Custom Resource Definition to v1
  .travis.yml
  generated/installer/ibm-spectrum-scale-csi-operator-dev.yaml
  generated/installer/ibm-spectrum-scale-csi-operator.yaml
  operator/.osdk-scorecard.yaml
  operator/build/Dockerfile
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.crd.yaml
Labels: Component: API, Phase: Development, Severity: 2, Target: Operator, Type: Enhancement

#242 Fixing the link for 2.0.0's CSV
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/2.0.0/ibm-spectrum-scale-csi-operator.v2.0.0.clusterserviceversion.yaml
  tools/ansible/README.md
  tools/ansible/cert/verify_operator.yaml
Labels: Component: Bundling, Phase: Test, Severity: 3, Target: Operator, Type: Documentation

#271 Operator Framework labelling
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/2.0.1/ibm-spectrum-scale-csi-operator.v2.0.1.clusterserviceversion.yaml
Labels: Component: Bundling, Environment: Kubernetes, Environment: OpenShift, Phase: Field, Severity: 3, Target: Operator, Type: Enhancement

#273 Change for CRD using CR update and fixes for operator test cases
  tests/functional-tests/README.md
  tests/functional-tests/conftest.py
  tests/functional-tests/driver_test.py
  tests/functional-tests/operator_test.py
  tests/functional-tests/pytest.ini
  tests/functional-tests/remote_snapshot_test.py
  tests/functional-tests/remote_test.py
  tests/functional-tests/requirements.txt
  tests/functional-tests/scale_operator.py
  tests/functional-tests/snapshot_test.py
  tests/functional-tests/utils/driver.py
  tests/functional-tests/utils/fileset_functions.py
  tests/functional-tests/utils/scale_operator_function.py
  tests/functional-tests/utils/scale_operator_object_function.py
  tests/functional-tests/utils/snapshot.py
Labels: Component: Automation
