Repository IBM/ibm-spectrum-scale-csi, pull requests merged in 2020-09, with the labels that each got.

#299 coderefactor for functional calls
  tests/functional-tests/Readme.docker.md
  tests/functional-tests/driver_test.py
  tests/functional-tests/operator_test.py
  tests/functional-tests/remote_snapshot_test.py
  tests/functional-tests/remote_test.py
  tests/functional-tests/scale_operator.py
  tests/functional-tests/snapshot_test.py
  tests/functional-tests/utils/cleanup_functions.py
  tests/functional-tests/utils/driver.py
  tests/functional-tests/utils/fileset_functions.py
  tests/functional-tests/utils/scale_operator_object_function.py
  tests/functional-tests/utils/snapshot.py
Labels: Component: Automation

#316 Disable snapshot from 2.1.0 branch
  tests/functional-tests/README.md
  tests/functional-tests/remote_snapshot_test.py
  tests/functional-tests/scale_operator.py
  tests/functional-tests/snapshot_test.py
Labels: Component: Automation

#314 add multi-arch build and push to travis
  .travis.yml
  driver/build/Dockerfile
  driver/build/multi-arch.Dockerfile
  driver/go.mod
Labels: Component: CI/CD, Component: Container Image, Target: Driver, Target: Operator, Type: Enhancement

#318 bumping ansible-operator version to v0.19.4
  operator/build/Dockerfile
Labels: Target: Operator
