Repository IBM/ibm-spectrum-scale-csi, pull requests merged in 2020-02, with the labels that each got.

#43 Fix for invalid secrets hanging create/delete of Custom Resources
  operator/molecule/default/tests/basic_tests.yaml
  operator/molecule/default/tests/test_creation.yaml
  operator/roles/csi-scale/tasks/cluster_check.yml
  operator/roles/csi-scale/tasks/main.yml
Labels: Component: API, Component: Roles, Severity: 2 (must fix), Target: Operator, Type: Bug

#64 Bumping default to 1.0.1
  operator/roles/csi-scale/defaults/main.yml
Labels: Component: Container Image, Phase: Development, Severity: 2 (must fix), Target: Operator, Type: Enhancement

#50 Update the documentation in the combined repo for initial release
  README.driver.md
  README.md
  README.operator.md
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/case/ibm-spectrum-scale-csi-operator/case.yaml
  docs/Makefile
  docs/source/conf.py
  docs/source/deployment/manual.rst
  docs/source/deployment/olm.rst
  docs/source/developers/clone.rst
  docs/source/developers/deployment.rst
  docs/source/get-started/quickstart.md
  docs/source/index.rst
  driver/MANUAL_BUILD.md
  operator/deploy/crds/ibm-spectrum-scale-csi-operator-cr.yaml
Labels: Component: Documentation

#49 Bump golangci-lint timeout from default of 1m to 3m
  .golangci.yml
Labels: Component: CI/CD, Phase: Development, Severity: 3, Type: Enhancement

#62 Refactor RTD documentation and move README.[operator|driver].md content into docs
  README.driver.md
  README.operator.md
  docs/source/deployment/index.rst
  docs/source/deployment/manual.rst
  docs/source/deployment/olm.rst
  docs/source/deployment/operator-spec.rst
  docs/source/developers/index.rst
  docs/source/get-started/driver.rst
  docs/source/get-started/images/openshift-menu.png
  docs/source/get-started/images/operatorhub-custom-resource.png
  docs/source/get-started/images/operatorhub-driver-tab.png
  docs/source/get-started/images/scale-gui-login.png
  docs/source/get-started/index.rst
  docs/source/get-started/operator.rst
  docs/source/get-started/prereq.rst
  docs/source/get-started/quickstart.md
  docs/source/index.rst
  docs/source/introduction/index.rst
  docs/source/introduction/spectrum-scale-csi.rst
  docs/source/introduction/spectrum-scale.rst
Labels: Component: Documentation

#69 Avoid confusion by forcing the user to set an OPERATOR_NAMESPACE variable
  docs/source/get-started/prereq.rst
Labels: Component: Documentation

#48 Refector Secret Watching to Use Ansible
  docs/source/index.rst
  docs/source/maintenance/index.rst
  docs/source/maintenance/secrets.rst
  generated/installer/ibm-spectrum-scale-csi-operator.yaml
  operator/Dockerfile
  operator/build/Dockerfile
  operator/build/Dockerfile.s390x
  operator/cmd/manager/main.go
  operator/deploy/crds/ibm-spectrum-scale-csi-operator-crd.yaml
  operator/deploy/operator.yaml
  operator/go.mod
  operator/go.sum
  operator/hacks/csi-scale-deploy.sh
  operator/hacks/health_check.sh
  operator/hacks/monitor-namespace.sh
  operator/molecule/default/tests/basic_tests.yaml
  operator/molecule/default/tests/test_creation.yaml
  operator/molecule/default/tests/test_node_selectors.yaml
  operator/molecule/default/tests/test_rbac.yaml
  operator/molecule/default/tests/test_secrets.yaml
  operator/molecule/test-local/playbook.yml
  operator/pkg/apis/addtoscheme_ibm_v1.go
  operator/pkg/apis/apis.go
  operator/pkg/apis/ibm/v1/csiscaleoperator_types.go
  operator/pkg/apis/ibm/v1/doc.go
  operator/pkg/apis/ibm/v1/register.go
  operator/pkg/apis/ibm/v1/zz_generated.deepcopy.go
  operator/pkg/apis/ibm/v1/zz_generated.openapi.go
  operator/pkg/controller/controller.go
  operator/pkg/controller/csiscalesecret/controller.go
  operator/roles/csi-scale/tasks/cluster_check.yml
  operator/roles/csi-scale/tasks/main.yml
  operator/roles/csi-scale/tasks/secret_watch.yml
  operator/roles/csi-scale/tasks/template_applicator.yml
  operator/tools.go
  operator/version/version.go
  operator/watches.yaml
  tools/ansible/versioning-playbook.yaml
Labels: Phase: Development, Phase: Test, Severity: 2 (must fix), Target: Operator, Type: Bug, Type: Documentation, Type: Needs Test

#66 [WIP] depends on #48 - add driver and operator multi-arch Dockerfile
  OWNERS
  driver/Dockerfile
  driver/build/Dockerfile
  driver/build/multi-arch.Dockerfile
  operator/build/Dockerfile
  operator/build/multi-arch.Dockerfile
Labels: Component: CI/CD, Component: Container Image, Severity: 2 (must fix), Target: Driver, Target: Operator, Type: Documentation, Type: Enhancement, Type: Needs Test

#73 Secret Fix - undefined
  operator/molecule/default/tests/basic_tests.yaml
  operator/molecule/default/tests/test_creation.yaml
  operator/molecule/default/tests/test_secrets.yaml
  operator/roles/csi-scale/tasks/cluster_check.yml
  operator/roles/csi-scale/tasks/main.yml
Labels: Component: Roles, Environment: Kubernetes, Environment: OpenShift, Phase: Development, Severity: 2 (must fix), Target: Operator, Type: Bug

#71 [WIP] depends on #66 - override image defaults with ENV variables
  operator/build/multi-arch.Dockerfile
  operator/roles/csi-scale/defaults/main.yml
Labels: Component: CI/CD, Component: Roles, Target: Operator

#72 Cluster Service Version Improvements
  .travis.yml
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/case/ibm-spectrum-scale-csi-operator/inventory/ibmCSIScaleOperator/resources.yaml
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/case/ibm-spectrum-scale-csi-operator/inventory/ibmCSIScaleOperatorSetup/resources.yaml
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/tests/test-01/delete/delete.sh
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/tests/test-01/install/install.sh
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/tests/test-01/pre-install/pre-install.sh
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/tests/test-02/delete/delete.sh
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/tests/test-02/install/install.sh
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/tests/test-02/pre-install/pre-install.sh
  docs/source/developers/deployment.rst
  docs/source/developers/index.rst
  docs/source/developers/olm.rst
  docs/source/get-started/driver.rst
  generated/installer/ibm-spectrum-scale-csi-operator.yaml
  operator/.osdk-scorecard.yaml
  operator/Makefile
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.cr.yaml
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.0.1/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.0.1/ibm-spectrum-scale-csi-operator.v1.0.1.clusterserviceversion.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.1.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
  operator/deploy/operator.yaml
  operator/hacks/change_deploy_image.py
  operator/hacks/csi-scale-deploy.sh
  operator/hacks/csi-scale-destroy.sh
  operator/hacks/csv_copy_cr.py
  operator/hacks/csv_copy_crd_descriptions.py
  operator/hacks/csv_copy_docs.py
  operator/hacks/csv_prep.py
  operator/hacks/relabel.py
  operator/molecule/test-cluster/playbook.yml
  operator/molecule/test-local/playbook.yml
  operator/molecule/test-local/prepare.yml
  tools/ansible/cert-playbook.yaml
  tools/ansible/generate-playbook.yaml
  tools/ansible/generate/create_files.yaml
  tools/ansible/versioning-playbook.yaml
  tools/create_release_tar.sh
  tools/olm/operator-source-k8s-dev.yaml
  tools/olm/operator-source-k8s-master.yaml
  tools/olm/operator-source-openshift.yaml
  tools/scripts/olm-scripts/operator-push.sh
  tools/scripts/push_app.sh
Labels: Environment: OpenShift, Phase: Test, Severity: 2 (must fix), Target: Operator, Type: Bug

#100 Driver version bumped up
  Makefile
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/case/ibm-spectrum-scale-csi-operator/case.yaml
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/case/ibm-spectrum-scale-csi-operator/inventory/ibmCSIScaleOperator/files/manifest.yaml
  cloudpak/stable/ibm-spectrum-scale-csi-operator-bundle/case/ibm-spectrum-scale-csi-operator/inventory/ibmCSIScaleOperatorSetup/files/manifest.yaml
  docs/source/conf.py
  docs/source/developers/clone.rst
  driver/build/Dockerfile
  driver/build/multi-arch.Dockerfile
  driver/cmd/ibm-spectrum-scale-csi/main.go
  operator/build/Dockerfile
  operator/build/multi-arch.Dockerfile
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.cr.yaml
  operator/roles/csi-scale/defaults/main.yml
  tools/ansible/cert-playbook.yaml
  tools/ansible/common/dev-env.yaml
  tools/ansible/common/runtime-env.yaml
Labels: Component: Controller, Target: Driver

#110 Change the linting sections in yaml to support molecule v3
  .travis.yml
  docs/source/developers/deployment.rst
  generated/installer/ibm-spectrum-scale-csi-operator.yaml
  operator/.osdk-scorecard.yaml
  operator/.yamllint
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.cr.yaml
  operator/deploy/crds/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/namespace.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.0.1/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.0.1/ibm-spectrum-scale-csi-operator.v1.0.1.clusterserviceversion.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.1.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
  operator/deploy/operator.yaml
  operator/deploy/role.yaml
  operator/deploy/role_binding.yaml
  operator/deploy/service_account.yaml
  operator/hacks/change_deploy_image.py
  operator/hacks/change_deploy_image.yml
  operator/hacks/csi-scale-deploy.sh
  operator/molecule/default/molecule.yml
  operator/molecule/default/prepare.yml
  operator/molecule/default/tests/basic_tests.yaml
  operator/molecule/default/tests/test_creation.yaml
  operator/molecule/default/tests/test_node_selectors.yaml
  operator/molecule/default/tests/test_rbac.yaml
  operator/molecule/default/tests/test_secrets.yaml
  operator/molecule/helpers/test_harness.yaml
  operator/molecule/test-cluster/molecule.yml
  operator/molecule/test-cluster/playbook.yml
  operator/molecule/test-local/molecule.yml
  operator/molecule/test-local/playbook.yml
  operator/molecule/test-local/prepare.yml
  operator/roles/csi-scale/defaults/main.yml
  operator/roles/csi-scale/handlers/main.yml
  operator/roles/csi-scale/meta/main.yml
  operator/roles/csi-scale/tasks/cluster_check.yml
  operator/roles/csi-scale/tasks/main.yml
  operator/roles/csi-scale/tasks/password_label.yml
  operator/roles/csi-scale/tasks/secret_watch.yml
  operator/roles/csi-scale/tasks/template_applicator.yml
  operator/roles/csi-scale/tests/test.yml
  operator/roles/csi-scale/vars/main.yml
  operator/watches.yaml
  tools/ansible/generate/create_files.yaml
  tools/ansible/versioning-playbook.yaml
Labels: Component: Automation, Component: CI/CD, Phase: Development, Severity: 2 (must fix)

#119 fix typo in error messages
  driver/csiplugin/gpfs_util.go
Labels: Component: Controller, Phase: Test
