Repository IBM/ibm-spectrum-scale-csi, pull requests merged in 2020-03, with the labels that each got.

#130 Adding timeout and worker-threads to provisioner command line
  operator/roles/csi-scale/templates/csi-plugin-attacher.yaml.j2
  operator/roles/csi-scale/templates/csi-plugin-provisioner.yaml.j2
Labels: Severity: 2, Target: Driver, Type: Enhancement

#138 snap changes
  tools/spectrum-scale-driver-snap.sh
Labels: Phase: Test, Severity: 3, Target: Driver, Type: Enhancement

#139 Fix provisioner name in examples
  driver/examples/dynamic/fileset/storageclassfileset_dependent.yaml
  driver/examples/static/static_pv.yaml
  tools/generate_pv_yaml.sh
Labels: Phase: Test, Severity: 3, Target: Driver, Type: Documentation

#115 Documentation enhancements
  README.md
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
Labels: Component: Documentation, Phase: Development, Severity: 2, Target: Driver, Target: Operator, Type: Documentation

#142 ansible-operator update to v0.16.0
  operator/build/Dockerfile
  operator/build/multi-arch.Dockerfile
Labels: Component: Container Image, Target: Operator

#148 doc update
  README.md
  TESTCONFIG.md
  operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/1.1.0/ibm-spectrum-scale-csi-operator.v1.1.0.clusterserviceversion.yaml
Labels: Type: Documentation

#149 Snapshotting tool fails to process olm operators.
  tools/spectrum-scale-driver-snap.sh
Labels: Component: Automation, Customer Probability: Low, Environment: OpenShift, Phase: Field, Severity: 3, Target: Operator, Type: Enhancement, Type: Needs Test

#134 Clarify Dockerfile vs. multi-arch.Dockerfile and update old docs.
  Makefile
  docs/source/developers/clone.rst
  driver/MANUAL_BUILD.md
  driver/build/Dockerfile
  driver/build/README.md
  driver/build/multi-arch.Dockerfile
Labels: Component: Documentation, Type: Documentation
